*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Epilogue', sans-serif;
}

header{
  background-color: hsl(0, 0%, 98%);
}

li{
  list-style: none;
}

a{
  color: hsl(0, 0%, 41%);
  text-decoration: none;
}

.navbar{
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 34px;
}

.nav-menu{
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-link{
  transition: 0.5s ease;
}

.nav-link:hover{
  color: hsl(0, 0%, 8%);
}

.btn-open,.btn-close{
  visibility: hidden;
}

.nav-btn button{
  padding: 10px;
  margin: 0 10px;
  background-color:hsl(0, 0%, 98%);
  border-radius: 15px;
  border: 0;
}

.nav-btn button:hover{
  cursor: pointer;
  border: 1px solid hsl(0, 0%, 8%);
}