*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;
  background-color: hsl(0, 0%, 98%);
}

h1{
  font-size: 35px;
  margin-bottom: 20px;
  margin-top: 15px;
  color: hsl(0, 0%, 8%);
  font-weight: 700;
}

p{
  margin-bottom: 25px;
  line-height: 28px;
  color: hsl(0, 0%, 41%);
}

a{
  color: hsl(0, 0%, 41%);
  text-decoration: none;
  font-family: sans-serif;
}

#Grid{
display: grid;
grid-template-areas: 
'A A A'
'C C B'
'D D D';
}



.Card{
  display: flex;
  justify-content: center;
  align-items: center;
}



#header{
  grid-area: A;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid black;
  padding: 20px;
}

#menu{
  display: flex;
  list-style: none;
  gap: 2rem;
  margin-right: 40rem;                                
}

#submenuFeat,#submenuCompany{
  list-style: none;
  margin-top: 10px;
}

#button button{
}



#winPaper{
  grid-area: B;
  border: 1px solid black;
}



.iconDesktop{
  display: block;
  object-fit: cover;
  max-width: 100%;
}

.iconMobile{
  display: none;
  object-fit: cover;
  max-width: 100%;
}




.attribution{
  grid-area: D;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;

}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.attribution p {
  font-size: 10px;
}
