*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Epilogue', sans-serif;
}

header{
  background-color: hsl(0, 0%, 98%);
}

li{
  list-style: none;
}

a{
  color: hsl(0, 0%, 41%);
  text-decoration: none;
}

h1{
  font-size: 60px;
}

main{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-areas: 
  'B A'
  'C C';
  gap: 30px;
  margin: 50px;
  background-color:  hsl(0, 0%, 98%);
}

footer{
  grid-area: C;
  display: flex;
  justify-content: center;
}

footer p{
  font-size: 10px;
}

.navbar{
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 34px;
}

.nav-menu{
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-link{
  transition: 0.5s ease;
}


.nav-link:hover{
  color: hsl(0, 0%, 8%);
}

.btn-open,.btn-close{
  visibility: hidden;
}

.nav-btn button{
  padding: 10px;
  margin: 0 10px;
  background-color:hsl(0, 0%, 98%);
  border-radius: 15px;
  border: 0;
}

.nav-btn button:hover{
  cursor: pointer;
  border: 1px solid hsl(0, 0%, 8%);
}

.iconDesktop{
  display: block;
}
.iconMobile{
  display: none;
}

#winPaper{
  grid-area: A;
}

#winPaper img{  
  object-fit: cover;
  width:100%;
}

#texto{
  grid-area: B;
}



@media (max-width: 768px){

  .btn-open{
    visibility: visible;
  }

  .btn-open.active{
    opacity: 0;
  }

  .btn-close.active{
    visibility: visible;
  }

  .btn-close{
    display: none;
  }

  .btn-close.active{
    display: block;
  }
  
  .nav-btn{
    display: none;
  }

  .nav-btn{
    position: fixed;
    float: left;
    left: -100%;
    top: 220px;
    gap: 30px;
    text-align: left;
    flex-direction: column;
    width: 50%;
    background-color: hsl(0, 0%, 98%);
    padding: 50px;
    height: 100vh;
  }



  .nav-btn.active{
    display: flex;     
    left:50%;
    
  }

  .nav-menu{
    display: flex;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 20px;
    background-color:hsl(0, 0%, 98%);
    align-items: flex-start;
    text-align: left;
    flex-direction: column;
    width: 100%;
    transition: 0.3s;
    padding: 10px;
    
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 50%;
  }

   main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'A'
    'B' 
    'C';
    gap: 0;
    margin: 0;
    background-color:  hsl(0, 0%, 98%);
  }

  h1{
    font-size: 35px;
    margin-top: 40px;
    margin-bottom: 0;
    
    
  }

  

  #winPaper{
    width: 100%;
  }
  .iconDesktop{
    display: none;
  }
  .iconMobile {
    display: block;
    object-fit: cover;
    width: 100%;
  }

  #texto{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #texto p{
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
    margin-bottom: 20px;    
    width: 300px;
  }

  .btn-learn{
    padding: 15px;
    border-radius: 15px;
    font-weight: 700;
    background-color: hsl(0, 0%, 8%);
    color:hsl(0, 0%, 98%);
    border: 0;
    margin-bottom: 40px;
  }

  .btn-learn:hover{
    cursor: pointer;
    border: 2px solid hsl(0, 0%, 8%);
    color: hsl(0, 0%, 8%);
    background-color: hsl(0, 0%, 98%);
  }

#icons{
  margin-bottom: 30px;
}

  .icon{
    margin: 5px;
    
  }

  
}