*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;
  background-color: hsl(0, 0%, 98%);
}

h1{
  font-size: 66px;
  margin-bottom: 20px;
  margin-top: 15px;
  color: hsl(0, 0%, 8%);
  font-weight: 700;
}

p{
  margin-bottom: 25px;
  line-height: 28px;
  color: hsl(0, 0%, 41%);
}

a{
  color: hsl(0, 0%, 41%);
  text-decoration: none;
  font-family: sans-serif;
}

#Grid{
display: grid;
grid-template-areas: 
'A A A'
'C C B'
'D D D';
}


#header{
  grid-area: A;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
}

#nav{
  display: block;
}

#menu{
  display: flex;
  list-style: none;
  gap: 2rem;
  margin-right: 40rem;                                
}

#submenuFeat,#submenuCompany{
  list-style: none;
  margin-top: 10px;   
  background-color:hsl(0, 0%, 98%);
  box-shadow: 2px 2px 5px 5px hsl(0, 0%, 41%);
  padding: 5px;  
  display: none;
}



#submenuFeat li,#submenuCompany li{
  margin-bottom: 8px;
  font-size: 12px;
  
}

#submenuFeat li:hover,#submenuCompany li:hover{
  cursor: pointer;
  background-color: rgb(220, 220, 226);
  border-radius: 10px;
  padding: 1px;
}

#texto{
  padding-left: 150px;
  padding-top: 20px;
  padding-bottom: 0;
}

#texto h1,p{
  width: 440px;
  margin-bottom: 70px;
}

#texto p{
  line-height: 25px;
}

.icons{
  margin-top: 25px;
}

.icons img{
  margin-right: 20px;
}

.btn-learn{
  font-family: 'Epilogue', sans-serif;
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  margin-bottom: 50px;
}

.btn-learn:hover{
  cursor: pointer;
  background-color:hsl(0, 0%, 98%); 
  color: hsl(0, 0%, 8%);
}

#button button{
  font-family: 'Epilogue', sans-serif;
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 98%);
  border: 0;  
}

#button button:hover{
  cursor: pointer;
  border: 1px solid hsl(0, 0%, 8%);
}



#winPaper{
  grid-area: B;
  margin-right: 100px;
}



.iconDesktop{
  display: block;
  max-width: 100%;
}

.iconMobile{
  display: none;
  object-fit: cover;
  max-width: 100%;
}




#attribution{
  grid-area: D;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;

}

#attribution a { 
  color: hsl(228, 45%, 44%); 
}

#attribution p {
  font-size: 10px;
}

#btn-menu, #btn-close{
  display: none;
}






@media screen and (max-width: 767px) {

#Grid{
  display: grid;
  grid-template-areas: 
  'A'
  'B'
  'C'
  'D';
}


#header{
  display: flex;
  border: 1px solid black;
  
}

#winPaper{
  grid-area: B;
  margin-right: 0;
}

.iconDesktop{
  display: none;
}

.iconMobile{
  display: block;
  object-fit: cover;
  width: 100%;
}

#nav{
  display: none;
}

#main{
  margin-right: 0;
  justify-content: space-between;
}

#btn-menu{
  display: block;
}

#button{
  display: none;
}

#texto{
    
  text-align: center;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}




#texto h1{
  font-size: 38px;
  display: flex;
  margin: auto;
  width: 380px;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 8px;
}

#texto p{
  text-align: center;
  font-size: 17px;
  display: flex;
  margin: auto;
  width: 370px;  
}

.icons{
  width: 100%;
  display: flex;
  justify-content: center;  
}

.icons img{
  width: 50px;
  margin: 20px;
}

.btn-learn{
  display: flex;
  margin: auto;
  font-weight: 500;
  margin-top: 40px;
}

#attribution{
  margin-top: 10px;

}

#attribution p {
  width: 100%;
  font-size: 8px;
  line-height: 10px;
}
  
}