*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body{
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;
}

h1{
  font-size: 40px;
  margin-bottom: 20px;
}

p{
  margin-bottom: 20px;
}

          #Grid{
            display: grid;
            grid-template-areas: 
            'A'
            'B'
            'C';
            gap: 10px;
          }



                    .Card{
                      display: flex;
                      justify-content: center;
                      align-items: center;
                    }



                              .Main{
                                grid-area: A;
                                border: 2px solid black;
                              }



                                        .image{
                                          width: 90%;
                                          display: flex;
                                          justify-content: space-between;
                                          padding: 15px;
                                        }



                              .winPaper{
                                grid-area: B;
                                border: 2px solid black;
                              }



                                        .iconDesktop{
                                          display: none;
                                        }

                                        .iconMobile{
                                          display: block;
                                          object-fit: cover;
                                          max-width: 400px;
                                        }


                              .Text{
                                grid-area: C;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                padding: 10px;
                                border: 2px solid black;
                              }


                                        .Text h1{}
                                        .Text p{}









@media screen and (min-width:960px){

          #Grid{
            display: grid;
            grid-template-areas: 
            'A A'
            'C B';
            gap: 10px;
          }

                                        .iconDesktop{
                                          display: block;
                                          object-fit: cover;
                                          max-width: 400px;
                                        }

                                        .iconMobile{
                                          display: none;

                                        }

}
