*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;
}

          #Grid{
            display: grid;
            grid-template-areas: 
            'A'
            'B'
            'C';
            gap: 10px;
          }



                    .Card{
                      display: flex;
                      justify-content: center;
                      align-items: center;
                    }



                              .Main{
                                grid-area: A;
                                border: 2px solid black;
                              }



                                        .image{
                                          width: 100%;
                                          display: flex;
                                          justify-content: space-between;
                                          padding: 20px;
                                        }


                              .winPaper{
                                grid-area: B;
                                border: 2px solid black;
                              }


                              .Text{
                                grid-area: C;
                                border: 2px solid black;
                              }
